#all {
    display: flex;
    flex-direction: column;
}

button {
    max-width: 150px;
    padding: 5px 0px 5px 0px;
}

input {
    margin-top: 10px;
    max-width: 200px;
    margin-bottom: 10px;
}

table {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
}

tr {
    border: 2px solid black;
}

th {
    padding: 20px;
    border: 2px solid black
}

#newTransaction {
    display: flex;
    flex-direction: column;
}